<div class="business-full-items-grouped-view__item _view_grid">
   <div class="business-full-items-grouped-view__photo-item">
      <div role="presentation" class="related-product-view _size_normal">
         <div class="related-item-photo-view _size_normal _first" aria-hidden="false" role="button" tabindex="0">
            <div class="related-item-photo-view__image" style="height: 160px;">
               <div class="image" aria-hidden="true" role="button" tabindex="-1" style="height: 160px;">
                  <div class="image__bg"><img alt="{self.menu_data['name']}, фото — Nola Jazz Bar (Санкт-Петербург, Волынский пер., 2)" width="100%" height="100%" class="image__img" src="https://avatars.mds.yandex.net/get-sprav-products/1530321/2a000001961aefe82c62518b115a571a9465/M_height"></div>
                  <div class="image__content"></div>
               </div>
            </div>
            <div class="related-item-photo-view__info">
               <div class="related-item-photo-view__main">
                  <div class="related-item-photo-view__title" title="{name}">{name}</div>
                  <div class="related-item-photo-view__description" title="{comment}">{comment}</div>
               </div>
               <div class="related-product-view__additional">
                  <span class="related-product-view__price">{price} ₽</span>
                  <span class="related-product-view__volume">{weight} {weight_unit}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
