<div class="business-card-view _wide" itemscope="" itemtype="http://schema.org/LocalBusiness" data-object="search-result" data-id="233512176817" data-log-id="dHlwZT1iaXpmaW5kZXI7aWQ9MjMzNTEyMTc2ODE3" data-coordinates="{longitude},{latitude}">

	<meta itemprop="priceRange" content="от 3000 ₽">

	<div class="business-card-view__main-wrapper">

		<div class="sticky-wrapper _position_top _fixed _header _border_auto _wide _reached-boundaries">
			<div class="orgpage-header-view__header-wrapper">
				<h1 class="orgpage-header-view__header" itemprop="name">{name}</h1>
			</div>
		</div>

		<div class="orgpage-header-view__wrapper">

			<div class="orgpage-header-view__wrapper-rating">
				<div class="business-header-rating-view">
					<div class="business-rating-badge-view _size_m _weight_medium">
						<div aria-label="Оценка 5 Из 5" class="business-rating-badge-view__stars _spacing_normal">
							<span class="business-rating-badge-view__rating-text">{ranking}</span>
						</div>
					</div>
					<div class="business-header-rating-view__text _clickable" aria-hidden="false" aria-label="894 оценки" role="button" tabindex="0">{num_of_reviews} оценки</div>
				</div>
			</div>

			<div class="orgpage-header-view__contacts">
				<div class="orgpage-header-view__contact">
					<div class="orgpage-phones-view _hidden">
						<div class="orgpage-phones-view__content" aria-hidden="true" role="button" aria-expanded="false" tabindex="-1">
							<div class="orgpage-phones-view__phone-number" dir="ltr">{phone}</div>
						</div>
					</div>
				</div>
				<a role="link" class="orgpage-header-view__address" href="/maps/2/saint-petersburg/house/volynskiy_pereulok_2/Z0kYdQVgQEUPQFtjfXVyeXhmbQ==/" title="Санкт-Петербург, Волынский переулок, 2 • этаж 1 на карте Санкт‑Петербурга" aria-label="Санкт-Петербург, Волынский переулок, 2 • этаж 1 на карте Санкт‑Петербурга">
                    <div>
                        <span>{address}</span>
                        <span style="display: block;">этаж 1</span>
                    </div>
                </a>
			</div>
		</div>
	</div>
</div>
