<div class="search-snippet-view__body _type_business" data-object="search-list-item" data-id="233512176817" data-log-id="dHlwZT1iaXpmaW5kZXI7aWQ9MzY1MzUwMDU3MjQ=" data-coordinates="{longitude},{latitude}">
   <div class="search-snippet-view__body-button-wrapper" aria-hidden="false" role="button" tabindex="0">
      <span data-nosnippet="true"><a role="link" class="link-overlay" href="/maps/org/nola_jazz_bar/233512176817/" aria-label="{name}">{name}</a></span>
      <div class="search-business-snippet-view">
         <div class="search-business-snippet-view__content">
            <div class="search-business-snippet-view__head">
               <div class="search-business-snippet-view__title">
                  {name}
               </div>
               <div class="search-business-snippet-view__optional"></div>
            </div>
            <div class="search-business-snippet-view__rating-and-awards">
               <a role="link" class="search-business-snippet-view__rating" href="/maps/org/nola_jazz_bar/233512176817/reviews/" tabindex="-1">
                  <div class="business-rating-with-text-view">
                     <div class="business-rating-badge-view _size_m _weight_medium">
                        <div aria-label="Оценка 1 Из 1" class="business-rating-badge-view__stars _spacing_normal">
                        </div>
                        <div class="business-rating-badge-view__rating"><span class="a11y-hidden">Рейтинг&nbsp;</span><span class="business-rating-badge-view__rating-text">{ranking}</span></div>
                     </div>
                     <span class="a11y-hidden">{num_of_reviews} оценки</span>
                     <div class="business-rating-with-text-view__count" data-nosnippet="true">
                        <div aria-hidden="true">({num_of_reviews})</div>
                     </div>
                   </div>
               </a>
            </div>
            <div class="search-business-snippet-view__sequence">
               <div class="search-business-snippet-view__sequence-item _priority_medium">
                  <div data-nosnippet="true">
                     <div class="business-working-status-view">Открыто до 22:00</div>
                  </div>
               </div>
               <div class="search-business-snippet-view__sequence-item _priority_low">
                  <div class="search-business-snippet-view__categories"><a role="link" class="search-business-snippet-view__category" href="/maps/2/saint-petersburg/category/confectionary/184108017/" tabindex="-1" aria-hidden="true">Кондитерская</a></div>
               </div>
            </div>
            <div class="search-business-snippet-view__sequence">
               <div class="search-business-snippet-view__sequence-item _priority_low"><a role="link" class="search-business-snippet-view__address" href="/maps/2/saint-petersburg/house/Z0kYdQVlSkUHQFtjfXVyd3xiYg==/" tabindex="-1">{address}</a></div>
            </div>
         </div>
      </div>
   </div>
</div>
