# General
APP_NAME=sampo
VERSION=v0
SECRET_KEY=local-dev-secret-key
URLS=0.0.0.0,127.0.0.1,localhost
TZ=Europe/Moscow

# Environment
ENV=test
DJANGO_SETTINGS_MODULE=core.settings.${ENV}
DEBUG=True
LOG_LEVEL=debug

# Test database
POSTGRES_TEST_DB=${APP_NAME}_test_database
POSTGRES_TEST_HOST=test_postgres
POSTGRES_TEST_PORT=5432
POSTGRES_TEST_EXTERNAL_PORT=55434
POSTGRES_TEST_USER=${APP_NAME}_user
POSTGRES_TEST_PASSWORD=${APP_NAME}_password

DATABASE_SSLMODE=disable
