# Replace SECRET_KEY, URLS, POSTGRES_PASSWORD, DJANGO_SUPERUSER_PASSWORD, DJANGO_SUPERUSER_EMAIL, ADMINS, MANAGERS, IP_ADDRESS

# General
APP_NAME=sampo
VERSION=v0
SECRET_KEY=<generate secret key: https://djecrety.ir/>
URLS=<comma-separated-site-urls>
TZ=Europe/Moscow

# Environment
ENV=prod
BUILD_TARGET=prod
DJANGO_SETTINGS_MODULE=core.settings.${ENV}
DEBUG=False
LOG_LEVEL=critical

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=55432
POSTGRES_DB=${APP_NAME}_database
POSTGRES_USER=${APP_NAME}_user
POSTGRES_PASSWORD=<password>

# Test database
POSTGRES_TEST_DB=${APP_NAME}_test_database
POSTGRES_TEST_HOST=test_postgres
POSTGRES_TEST_PORT=5432
POSTGRES_TEST_EXTERNAL_PORT=55434
POSTGRES_TEST_USER=${APP_NAME}_user
POSTGRES_TEST_PASSWORD=${APP_NAME}_password

DATABASE_SSLMODE=disable

# Admin panel
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=<admin-password>
DJANGO_SUPERUSER_EMAIL=<admin-email>

# Emails
ADMINS=<comma-separated-admin-emails>
MANAGERS=<comma-separated-manager-emails>

IP_ADDRESS=<site-ip-address>
