# Test database
POSTGRES_TEST_DB=${APP_NAME}_test_database
POSTGRES_TEST_HOST=test_postgres
POSTGRES_TEST_PORT=5432
POSTGRES_TEST_EXTERNAL_PORT=55434
POSTGRES_TEST_USER=${APP_NAME}_user
POSTGRES_TEST_PASSWORD=${APP_NAME}_password

DATABASE_SSLMODE=disable
