# Replace SECRET_KEY, DJANGO_SUPERUSER_EMAIL

# General
APP_NAME=sampo
VERSION=v0
SECRET_KEY=<generate secret key: https://djecrety.ir/>
URLS=0.0.0.0,127.0.0.1,localhost
TZ=Europe/Moscow

# Environment
ENV=local
BUILD_TARGET=dev
DJANGO_SETTINGS_MODULE=core.settings.${ENV}
DEBUG=True
LOG_LEVEL=debug

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=55432
POSTGRES_DB=${APP_NAME}_database
POSTGRES_USER=${APP_NAME}_user
POSTGRES_PASSWORD=${APP_NAME}_password
POSTGRES_TEST_HOST=test_postgres
POSTGRES_TEST_PORT=5432
POSTGRES_TEST_EXTERNAL_PORT=55434

DATABASE_SSLMODE=disable

# Admin panel
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@gmail.com
